<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
            <h1>My geo location</h1>
            <h3>Your Ip Address: {{ip}}</h3>
            <h3>Your Continent: {{continent_name}}</h3>
            <h3>Your country: {{country_name}}</h3>
            <h3>Your Region: {{region_name}}</h3>
            <h3>Your City: {{city}}</h3>
            <h3>Your Zipcode: {{zip}}</h3>
            <h3>Your lattitude: {{latitude}}</h3>
            <h3>Your longitude: {{longitude}}</h3>
</body>
</html>